#### Павел исаенко БПИ20-02

# Практическая работа 1

## Цель: 
+ Знакомство и получение навыков работы в среде Jupyter, 
+ Знакомоство с базовыми операцими над наборами данных с помощью Numpy и Pandas

## Ход работы:
### 1. Набор данных
Загрузил набор данных с [рейтингами аниме](https://www.kaggle.com/datasets/CooperUnion/anime-recommendations-database). Этот датасет является одним из предложенных в практической работе №1.

### 2. Jupyter

#### Создание наборов  Numpy/Pandas
1. Создал свои наборы данных Numpy и Pandas (также импортировав готовые)

In [1]:
from sklearn.datasets import load_wine
from pprint import pprint
wine = load_wine()
pprint(wine)

{'DESCR': '.. _wine_dataset:\n'
          '\n'
          'Wine recognition dataset\n'
          '------------------------\n'
          '\n'
          '**Data Set Characteristics:**\n'
          '\n'
          '    :Number of Instances: 178\n'
          '    :Number of Attributes: 13 numeric, predictive attributes and '
          'the class\n'
          '    :Attribute Information:\n'
          ' \t\t- Alcohol\n'
          ' \t\t- Malic acid\n'
          ' \t\t- Ash\n'
          '\t\t- Alcalinity of ash  \n'
          ' \t\t- Magnesium\n'
          '\t\t- Total phenols\n'
          ' \t\t- Flavanoids\n'
          ' \t\t- Nonflavanoid phenols\n'
          ' \t\t- Proanthocyanins\n'
          '\t\t- Color intensity\n'
          ' \t\t- Hue\n'
          ' \t\t- OD280/OD315 of diluted wines\n'
          ' \t\t- Proline\n'
          '\n'
          '    - class:\n'
          '            - class_0\n'
          '            - class_1\n'
          '            - class_2\n'
          '\t\t\n'
          '    :Summary Statistics:\n'
          '    \n'
          '    ============================= ==== ===== ======= =====\n'
          '                                   Min   Max   Mean     SD\n'
          '    ============================= ==== ===== ======= =====\n'
          '    Alcohol:                      11.0  14.8    13.0   0.8\n'
          '    Malic Acid:                   0.74  5.80    2.34  1.12\n'
          '    Ash:                          1.36  3.23    2.36  0.27\n'
          '    Alcalinity of Ash:            10.6  30.0    19.5   3.3\n'
          '    Magnesium:                    70.0 162.0    99.7  14.3\n'
          '    Total Phenols:                0.98  3.88    2.29  0.63\n'
          '    Flavanoids:                   0.34  5.08    2.03  1.00\n'
          '    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12\n'
          '    Proanthocyanins:              0.41  3.58    1.59  0.57\n'
          '    Colour Intensity:              1.3  13.0     5.1   2.3\n'
          '    Hue:                          0.48  1.71    0.96  0.23\n'
          '    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\n'
          '    Proline:                       278  1680     746   315\n'
          '    ============================= ==== ===== ======= =====\n'
          '\n'
          '    :Missing Attribute Values: None\n'
          '    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n'
          '    :Creator: R.A. Fisher\n'
          '    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n'
          '    :Date: July, 1988\n'
          '\n'
          'This is a copy of UCI ML Wine recognition datasets.\n'
          'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n'
          '\n'
          'The data is the results of a chemical analysis of wines grown in '
          'the same\n'
          'region in Italy by three different cultivators. There are thirteen '
          'different\n'
          'measurements taken for different constituents found in the three '
          'types of\n'
          'wine.\n'
          '\n'
          'Original Owners: \n'
          '\n'
          'Forina, M. et al, PARVUS - \n'
          'An Extendible Package for Data Exploration, Classification and '
          'Correlation. \n'
          'Institute of Pharmaceutical and Food Analysis and Technologies,\n'
          'Via Brigata Salerno, 16147 Genoa, Italy.\n'
          '\n'
          'Citation:\n'
          '\n'
          'Lichman, M. (2013). UCI Machine Learning Repository\n'
          '[https://archive.ics.uci.edu/ml]. Irvine, CA: University of '
          'California,\n'
          'School of Information and Computer Science. \n'
          '\n'
          '.. topic:: References\n'
          '\n'
          '  (1) S. Aeberhard, D. Coomans and O. de Vel, \n'
          '  Comparison of Classifiers in High Dimensional Settings, \n'
          '  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. '
          'of  \n'
          '  Mathematics and Statistics, James Cook University of North '
          'Queensland. \n'
          '  (Also submitted to Technometrics). \n'
          '\n'
          '  The data was used with many others for comparing various \n'
          '  classifiers. The classes are separable, though only RDA \n'
          '  has achieved 100% correct classification. \n'
          '  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed '
          'data)) \n'
          '  (All results using the leave-one-out technique) \n'
          '\n'
          '  (2) S. Aeberhard, D. Coomans and O. de Vel, \n'
          '  "THE CLASSIFICATION PERFORMANCE OF RDA" \n'
          '  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. '
          'of \n'
          '  Mathematics and Statistics, James Cook University of North '
          'Queensland. \n'
          '  (Also submitted to Journal of Chemometrics).\n',
 'data': array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
        1.065e+03],
       [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
        1.050e+03],
       [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
        1.185e+03],
       ...,
       [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
        8.350e+02],
       [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
        8.400e+02],
       [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
        5.600e+02]]),
 'feature_names': ['alcohol',
                   'malic_acid',
                   'ash',
                   'alcalinity_of_ash',
                   'magnesium',
                   'total_phenols',
                   'flavanoids',
                   'nonflavanoid_phenols',
                   'proanthocyanins',
                   'color_intensity',
                   'hue',
                   'od280/od315_of_diluted_wines',
                   'proline'],
 'frame': None,
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2]),
 'target_names': array(['class_0', 'class_1', 'class_2'], dtype='<U7')}

*Для начала импортируем нужный датасет из sklearn*

In [2]:
my_list = list(range(1, 33, 3))
my_list

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31]

*Теперь создадим список чисел 1..33 с шагом в 3*

In [3]:
import numpy as np

*Импортируем Numpy*

In [4]:
my_np_list = np.array(my_list)
print (my_np_list)
print (type(my_np_list))

[ 1  4  7 10 13 16 19 22 25 28 31]
<class 'numpy.ndarray'>

*Создадим из списка переменную **ndarray***

In [5]:
import pandas as p

*Здесь был импортирован Pandas*

In [6]:
pupils = p.DataFrame([['Petrenko',7,13],['Sedych',5,2],['Shlapak',9,17]],
                     columns = ["SndName", "Class", "SchoolNum"])
pupils

    SndName  Class  SchoolNum
0  Petrenko      7         13
1    Sedych      5          2
2   Shlapak      9         17

*Создал свой датасет с помощью Pandas*

In [7]:
anime_ds = p.read_csv( "DataSet/anime.csv")
rating_ds = p.read_csv("DataSet/rating.csv")

anime_ds

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

*Импортирую датасеты из **.csv** файлов*

2. Техническая структура набора данных

Не очень понятно, что имеется ввиду под технической структурой
> Уметь показать и объяснить теническую структуру набора данных

In [8]:
print (wine.keys())

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names'])

*Посмотрим какой набор ключей присутствует в датасете из **sklearn***

In [9]:
for iterat in wine:
    print(iterat, "--", type(wine[iterat]))

data -- <class 'numpy.ndarray'>
target -- <class 'numpy.ndarray'>
frame -- <class 'NoneType'>
target_names -- <class 'numpy.ndarray'>
DESCR -- <class 'str'>
feature_names -- <class 'list'>

*Соответствие ключей типам, которые хранятся в них*

In [10]:
anime_ds.columns

Index(['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members'], dtype='object')

In [11]:
rating_ds.columns

Index(['user_id', 'anime_id', 'rating'], dtype='object')

*Набор столбцов, используемых в таблицах датасета для **Pandas***

In [12]:
anime_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [13]:
rating_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB

In [24]:
anime_ds.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [25]:
rating_ds.describe()

            user_id      anime_id        rating
count  7.813737e+06  7.813737e+06  7.813737e+06
mean   3.672796e+04  8.909072e+03  6.144030e+00
std    2.099795e+04  8.883950e+03  3.727800e+00
min    1.000000e+00  1.000000e+00 -1.000000e+00
25%    1.897400e+04  1.240000e+03  6.000000e+00
50%    3.679100e+04  6.213000e+03  7.000000e+00
75%    5.475700e+04  1.409300e+04  9.000000e+00
max    7.351600e+04  3.451900e+04  1.000000e+01

***Добавлены статистические характеристики***

In [14]:
anime_ds.genre.unique()

array(['Drama, Romance, School, Supernatural',
       'Action, Adventure, Drama, Fantasy, Magic, Military, Shounen',
       'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
       ..., 'Hentai, Sports', 'Drama, Romance, School, Yuri',
       'Hentai, Slice of Life'], dtype=object)

In [15]:
len(anime_ds.genre.unique())

3265

In [16]:
len(anime_ds.genre)

12294

*Посмотрел техническую структуру датасета*

Как видно, в данном датасете, из-за того что поле **genre** является строковым, комбинации жанров в нем хранятся ввиде единой строки, что при поиске не даёт простым 
```anime_ds.genre.unique()``` 
отдельных наименований жанров

In [17]:
anime_ds[anime_ds.type.isnull()]

,anime_id,name,genre,type,episodes,rating,members
10898,30484,Steins;Gate 0,"Sci-Fi, Thriller",NaN,Unknown,NaN,60999
10900,34437,Code Geass: Fukkatsu no Lelouch,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",NaN,Unknown,NaN,22748
10906,33352,Violet Evergarden,"Drama, Fantasy",NaN,Unknown,NaN,20564
10907,33248,K: Seven Stories,"Action, Drama, Super Power, Supernatural",NaN,Unknown,NaN,22133
10918,33845,Free! (Shinsaku),"School, Sports",NaN,Unknown,NaN,8666
10949,33475,Busou Shoujo Machiavellianism,"Action, School, Shounen",NaN,Unknown,NaN,1896
10963,31456,Code:Realize: Sousei no Himegimi,"Adventure, Fantasy, Romance, Shoujo",NaN,Unknown,NaN,4017
10983,34332,Flying Babies,NaN,NaN,Unknown,NaN,22
10988,34280,Gamers!,"Comedy, Romance, School",NaN,Unknown,NaN,1045
10990,34485,Ganko-chan,NaN,NaN,Unknown,NaN,11
10991,32455,Gekidol,Music,NaN,Unknown,NaN,586
10994,31433,Ginga Eiyuu Densetsu (2017),"Action, Drama, Military, Sci-Fi, Space",NaN,Unknown,NaN,3969
10995,28613,Ginga Jinpuu Jinraiger,"Action, Adventure, Mecha",NaN,Unknown,NaN,627
10998,34279,Grancrest Senki,"Action, Fantasy",NaN,Unknown,NaN,360
11010,33899,IDOLiSH7,"Music, Shoujo",NaN,Unknown,NaN,1048
11013,34012,Isekai Shokudou,"Comedy, Fantasy, Mystery",NaN,Unknown,NaN,749
11041,30448,Mirai Arise,Sci-Fi,NaN,Unknown,NaN,4044
11053,34262,Oushitsu Kyoushi Haine,"Comedy, Historical, Shounen",NaN,Unknown,NaN,321
11055,33185,Peace Maker Kurogane (Shinsaku),"Action, Comedy, Historical, Samurai, Shounen",NaN,Unknown,NaN,939
11058,24023,Project758,Drama,NaN,Unknown,NaN,455
11062,34348,Rescue Academia,Drama,NaN,Unknown,NaN,65
11070,32032,Seikaisuru Kado,NaN,NaN,Unknown,NaN,1797
11101,33478,UQ Holder!,"Action, Fantasy, Magic, Sci-Fi, Shounen",NaN,Unknown,NaN,2341
12252,34382,Citrus,"Drama, Romance, School, Yuri",NaN,Unknown,NaN,2459
12259,33654,Hitorijime My Hero,Yaoi,NaN,Unknown,NaN,1574

Из результата выполнения кода выше аидно, что в датасете присутствуют пустые поля

In [18]:
anime_ds.iloc[lambda a: a.index % 3 == 2, :4]

,anime_id,name,genre,type
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie
14,28891,Haikyuu!! Second Season,"Comedy, Drama, School, Shounen, Sports",TV
...,...,...,...,...
12281,9504,Sakura no Mori,Hentai,OVA
12284,26031,Super Erotic Anime,Hentai,OVA
12287,9352,Tenshi no Habataki Jun,Hentai,OVA
12290,5543,Under World,Hentai,OVA
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie

Здесь была использована лямбда-функция для выборки каждой записи с индексом равным 2 после взятия остатка от деления его на 3

In [19]:
anime_ds[anime_ds.type.isin(["TV"]) == True].iloc[lambda a: a.index % 3 == 2, :]

,anime_id,name,genre,type,episodes,rating,members
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
14,28891,Haikyuu!! Second Season,"Comedy, Drama, School, Shounen, Sports",TV,25,8.93,179342
17,24701,Mushishi Zoku Shou 2nd Season,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10,8.88,75894
20,263,Hajime no Ippo,"Comedy, Drama, Shounen, Sports",TV,75,8.83,157670
...,...,...,...,...,...,...,...
11090,32596,The Snack World (TV),"Adventure, Comedy, Fantasy, Kids",TV,Unknown,NaN,107
11096,34019,Tsugumomo,"Action, Comedy, Ecchi, School, Seinen, Superna...",TV,Unknown,NaN,1303
11099,34076,Uchouten Kazoku 2,"Comedy, Drama, Fantasy, Slice of Life",TV,Unknown,NaN,5934
11102,32924,Urara Meirochou,"Comedy, Seinen, Slice of Life",TV,Unknown,NaN,4305
11111,34445,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,4439

А здесь к предыдущему условию добавлено также условие, при котором поле type должно равняться "TV"

In [20]:
anime_ds[anime_ds.type.isin(["TV"]) == True].iloc[lambda a: a.index % 3 == 2, :5].sort_values(by=["episodes"], ascending = [True])

,anime_id,name,genre,type,episodes
890,10790,Kore wa Zombie Desu ka? of the Dead,"Action, Comedy, Ecchi, Harem, Magic, Supernatural",TV,10
10166,25607,Sekai no Fushigi Tanken Series,"Adventure, Fantasy, Historical",TV,10
10229,17315,Shin Pro Golfer Saru,"Kids, Sports",TV,10
1556,19163,Date A Live II,"Comedy, Harem, Mecha, Romance, School, Sci-Fi",TV,10
7469,5304,Akiba-chan,"Comedy, Kids, Slice of Life",TV,10
...,...,...,...,...,...
6776,32571,Shounen Ashibe: Go! Go! Goma-chan,"Comedy, Slice of Life",TV,Unknown
7760,33541,Bishoujo Yuugi Unit Crane Game Girls Galaxy,"Comedy, Game, Space",TV,Unknown
8126,33655,Alps no Shoujo Heidi? Chara Onji,"Comedy, Parody",TV,Unknown
5411,32670,Battle Spirits: Double Drive,"Action, Kids",TV,Unknown
2738,32717,Aikatsu Stars!,"Music, School, Shoujo, Slice of Life",TV,Unknown

*Здесь была добавлена сортировка по количеству эпизодов (по возрастанию)*

In [21]:
anime_ds[anime_ds.type.isin(["TV"]) == True].iloc[lambda a: a.index % 3 == 2, :5].sort_values(by=["episodes"], ascending = [True]).groupby(["genre"]).count()

,anime_id,name,type,episodes
genre,,,,
Action,4,4,4,4
"Action, Adventure",2,2,2,2
"Action, Adventure, Comedy",1,1,1,1
"Action, Adventure, Comedy, Demons, Drama, Ecchi, Horror, Mystery, Romance, Sci-Fi",1,1,1,1
"Action, Adventure, Comedy, Demons, Fantasy, Magic",1,1,1,1
...,...,...,...,...
"Shounen, Sports",4,4,4,4
"Shounen, Sports, Super Power",1,1,1,1
Slice of Life,4,4,4,4
Sports,6,6,6,6
Supernatural,1,1,1,1

*Отсортированные данные сгрупированы по комбинациям жанров*

#### Объединение
У нас есть две таблицы: **anime_ds** и **rating_ds**.

Нам нужна третья общая.

In [22]:
final_ds = anime_ds.merge(rating_ds, how = "inner", left_on = "anime_id", right_on="anime_id")
final_ds

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,-1
...,...,...,...,...,...,...,...,...,...
7813722,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,39532,-1
7813723,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,48766,-1
7813724,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,60365,4
7813725,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,27364,-1
7813726,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,48766,-1

In [23]:
final_ds.pivot_table(index = ["anime_id", "name"], aggfunc={'user_id' : "count"}).sort_values(by=["user_id"], ascending = [False])

                                              user_id
anime_id name
1535     Death Note                             39340
11757    Sword Art Online                       30583
16498    Shingeki no Kyojin                     29584
1575     Code Geass: Hangyaku no Lelouch        27718
226      Elfen Lied                             27506
...                                               ...
27459    Porong Porong Pororo 5                     1
27457    Porong Porong Pororo 4                     1
27455    Porong Porong Pororo 3                     1
27453    Pororo-wa Noraehaeyo                       1
34519    Mobile Suit Gakuen: G-Reco Koushien        1

[11197 rows x 1 columns]

*Привел сводную таблицу в вид, где показаны тайтлы с большим количеством голосов*

Про опечатки:
    было замечено в колонке **name**